{% extends 'base.html.twig' %}

{% block title %}
    application symfony
{% endblock %}


{% block header %}
    <h2>Voici le header</h2>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="list-group mt-3">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                <h1 class="mb-1">Bienvenue sur SymBNB !</h1>
                
                </div>
                    <h3 class="mb-1">Nous mettons en relations les voyageurs et les propriétaires qui 
                veulent profiter d'opportunités et gagner de largent en proposant leur bien à la location
                </h3>  
            </a>
            
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">
                Vous êtes voyageur ? Et vous vouolez voir ou vous pourrez loger potre prochain déplacement?
                </p>
                </div>
                <button type="button" class="btn btn-primary">Voir nos annances</button>
            </a>
        </div>


        <h2 class="row mt-5">Nos appartements stars</h2>

        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres , <strong>49&euro; / nuit</strong> <br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt = "Image de l'appartement" 
                    style="height:200px; width:100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">Appartement de ouf!</h4>
                        <p class="card-text">
                            Vous êtes voyageur ? Et vous vouolez voir ou vous pourrez loger potre prochain déplacement?
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres , <strong>49&euro; / nuit</strong> <br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt = "Image de l'appartement" 
                    style="height:200px; width:100%; display: block">

                    <div class="card-body">
                    <h4 class="card-title">Appartement de ouf!</h4>
                    <p class="card-text">
                        Vous êtes voyageur ? Et vous vouolez voir ou vous pourrez loger potre prochain déplacement?
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres , <strong>49&euro; / nuit</strong> <br>
                        <small>pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt = "Image de l'appartement" 
                    style="height:200px; width:100%; display: block">

                    <div class="card-body">
                    <h4 class="card-title">Appartement de ouf!</h4>
                    <p class="card-text">
                        Vous êtes voyageur ? Et vous vouolez voir ou vous pourrez loger potre prochain déplacement?
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <h2>Nos propriétaires stars !!</h2>
        <div class= "row">
            <div class="call">
                <div class="card border-secondary mt-3">
                    <div class="cart-body">
                        <h4 class="card-title">Marwa Ayed</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de Marwa Ayed" class="float-left mr-3">
                            <p>presentation de propriétaires pour le contacté en direct si vous voulez</p>
                            <a href="#" class="btn btn-success float-right my-3">contacter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class= "row">
            <div class="call">
                <div class="card border-secondary mt-3">
                    <div class="cart-body">
                        <h4 class="card-title">Marwa Ayed</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de Marwa Ayed" class="float-left mr-3">
                            <p>presentation de propriétaires pour le contacté en direct si vous voulez</p>
                            <a href="#" class="btn btn-success float-right my-3">contacter</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class= "row">
            <div class="call">
                <div class="card border-secondary mt-3">
                    <div class="cart-body">
                        <h4 class="card-title">Marwa Ayed</h4>
                        <hr>
                        <div class="card-text">
                            <img src="http://placehold.it/64x64" alt="Avatar de Marwa Ayed" class="float-left mr-3">
                            <p>presentation de propriétaires pour le contacté en direct si vous voulez</p>
                            <a href="#" class="btn btn-success float-right my-3">contacter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>


    {#
        <h1>{{ title | upper }}</h1>
        <h3> le titre est : {{title}} </h3>

        <p>
            c'est ma premiere page symfony</br>
            comment allez vous!?
        </p>


        <a href="{{ path('hello', {'prenoms' : 'marwa' , 'age' : 31}) }}"> Allez voir Hello</a>


        {% if age >= 18 %}
            <p>vous etes un adulte</p>
        {% elseif age >= 12 %}
            <p>vous etes un adolescent</p>
        {% else %}
            <p>vous etes un enfant</p>
        {% endif %}

        <ul>
            {% for compteur in 0..10 %}
                <li>{{compteur}} </li>
            {% endfor %}
        </ul>

        {% for prenoms, age in tableau %}
            {% if loop.first %}
                <strong>{{prenoms}} a {{age}} ans</strong>
            {% elseif loop.last %}
                <em>{{prenoms}} a {{age}} ans</em>
            {% else %} 
                <p>{{prenoms}} a {{age}} ans</p>
            {% endif %}
        {% endfor %}
    #}


{% endblock %}