{% extends 'base.html.twig' %}

{% block title %}
    {{ad.title}}
{% endblock %}


{% block body %}

    <div class="ad-title" style="background-image : url ( {{ad.coverImage}} )">
        <div class="container">
            <h1>{{ad.title}}</h1>
            <p>{{ad.introduction}}</p>
            <p class="h2">
                <strong> {{ad.rooms}} chambres </strong> pour 
                <strong> {{ ad.preice }}&euro; </strong> par nuit
            </p>
            <a href="#" type="button" class="btn btn-primary">Reserver</a>

            {% if app.user and app.user == ad.Author %}
                <a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-info">
                Modifier l'annonce</a>
                <a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger"
                onclick="return confirm(`Etes vous sur de vouloirsupprimer l'annonce :
                {{ad.title}} ?`)">Supprimer l'annonce</a>
            {% endif %}   
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-3">
                {{ ad.context | raw }}
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            {% for image in ad.images %}
                                <div class="carousel-item {% if loop.first %} active{% endif %}">
                                    <img src="{{ image.url }}" class="d-block w-100" alt="First one">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                        </div>
            </div>
            <div class="col">
                {% set a = ad.author %}
                <div class="row mb-3 align-items-center">
                    <div class="col-4">
                        <a href="{{ path('user_show', {'slug': a.slug}) }}">
                            <img src="{{ a.picture }}" alt="Avatar de {{ a.fullName}}" class="avatar avater-medium" >
                        </a>
                    </div>

                    <div class="col">
                        <a href="{{ path('user_show', {'slug': a.slug}) }}">
                        <h3> {{ a.fullName}}</h3>
                        </a>
                        <strong>{{ a.ads | length }} annances</strong>
                    </div>
                </div>
                {{ a.description | raw }}
            </div>
        </div>
    </div>
    
{% endblock %}